In [ ]:
import json
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
wine_meta = '/content/drive/MyDrive/tobigs14_conference/data/v_2/oldfile/Wine_Meta_v1_201129.json'
wine_meta = pd.read_json(wine_meta)

In [ ]:
food=wine_meta.iloc[:, [1, 11]]

In [ ]:
food

       wine_id                                               food
0      1938520  [Beef, Lamb, Game (deer, venison), Mature and ...
1        14604        [Beef, Lamb, Game (deer, venison), Poultry]
2      1930757                        [Beef, Lamb, Veal, Poultry]
3      1564280                                 [Beef, Lamb, Veal]
4      2576427  [Beef, Lamb, Game (deer, venison), Mature and ...
...        ...                                                ...
50855  1669561  [Pasta, Shellfish, Mature and hard cheese, Lea...
50856  1861275  [Pasta, Shellfish, Mature and hard cheese, Lea...
50857  2201892  [Shellfish, Vegetarian, Appetizers and snacks,...
50858  2396179  [Pork, Shellfish, Spicy food, Vegetarian, Goat...
50859  7715684          [Beef, Pasta, Lamb, Game (deer, venison)]

[50860 rows x 2 columns]

In [ ]:
# 특수문자 제거
food['food']=food['food'].map(lambda x: str(x).lstrip('[').rstrip(']'))
food['food'].replace(r'\([^)]*\)', '', regex=True, inplace=True)
food['food'].replace(r',', '|', regex=True, inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
# 원핫 인코딩
one_hot=pd.Series(food['food']).str.get_dummies()

In [ ]:
food['food']=food['food'].map(lambda x: str(x).lstrip('[').rstrip(']'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
food_one_hot=pd.merge(food, one_hot, left_index=True, right_index=True, how='left')

In [ ]:
import re
document = re.sub(r'[^ ㄱ-ㅣ가-힣A-Za-z]', '', str(list(food_one_hot.columns))) #특수기호 제거, 정규 표현식

In [ ]:
col_list=[]
for i in food_one_hot.columns:
    col_list.append(i.lstrip().rstrip().strip("'"))

In [ ]:
food_one_hot.columns=col_list

In [ ]:
food_one_hot=food_one_hot.sort_values('wine_id')

In [ ]:
food_one_hot.reset_index(drop=True, inplace=True)

In [ ]:
food_one_hot.head()

   wine_id                                               food  ...  Vegetarian  None
0       10                                               None  ...           0     1
1       19                   'Beef'| 'Pasta'| 'Lamb'| 'Game '  ...           0     0
2       20                 'Beef'| 'Lamb'| 'Game '| 'Poultry'  ...           0     0
3       41  'Rich fish '| 'Spicy food'| 'Sweet desserts'| ...  ...           0     0
4       46                 'Beef'| 'Veal'| 'Game '| 'Poultry'  ...           0     0

[5 rows x 39 columns]

In [ ]:
food_one_hot.to_csv('food_token_one_hot.csv')
files.download('food_token_one_hot.csv')

In [ ]:
food_token_one_hot = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token_one_hot.csv'
food_token_one_hot_wine = pd.read_csv(food_token_one_hot)